<div class="row">
  <div class="col-4">
    <!-- Config-->
    <label>Cài đặt:</label>
    <p *ngIf="webService.configSaveLoading">Loading</p>
    <div *ngIf="!webService.configSaveLoading">
      <label for="webService.newChapterCheck">
        New chapter check (minutes)
        <input type="text" #newChapterCheck [(ngModel)]="webService.config.newChapterCheck">
      </label>
      <label>
        Save folder:
        {{webService.config.saveFolder}}
      </label>
      <button (click)="saveConfig()" class="btn btn-primary" style="display: block">Save</button>
    </div>
    <hr />
    <!-- Web list-->
    <label>Danh sách web:</label>
    <p *ngIf="!webService.webs">Loading</p>
    <div *ngIf="webService.webs">
      <ul>
        <li *ngFor="let web of webService.webs">
          <a (click)="setSelectedWeb(web)" href="#">{{web.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Update and add story -->
  <div class="col-4">
    <button (click)="update()" class="btn btn-dark"> Update!</button>
    <span *ngIf="webService.updateStatus && !webService.updateStatus.success">
      Date: {{webService.updateStatus.dateTime | date: 'dd/MM/yyyy hh:mm:ss'}} Lỗi
    </span>
    <span *ngIf="webService.updateStatus && webService.updateStatus.success">
      Date: {{webService.updateStatus.dateTime | date: 'dd/MM/yyyy hh:mm:ss'}}
      <span *ngIf="webService.updateStatus.data" style="color: green">
        Có cập nhật mới.
      </span>
      <span *ngIf="!webService.updateStatus.data" style="color: orange">
        Không có cập nhật mới.
      </span>
    </span>
    <div>
      <label>Update status: </label>
      <div *ngIf="signalRService.updateStory" style="color:green">New Updates!</div>
      <div *ngIf="!signalRService.updateStory" style="color:orange">Up-to-date!</div>
      <div *ngIf="signalRService.foundNewChapters">Tìm thấy chapter mới: {{signalRService.foundNewChapters}}</div>
    </div>
    <div>
      <label>Render status: </label>
      <div *ngIf="signalRService.renderProcess">
        <div *ngFor="let ren of signalRService.renderProcess.rendered" style="color: green">{{ren.name}}</div>
        <div> {{signalRService.renderProcess.rendering.name}}</div>
        <div *ngFor="let coming of signalRService.renderProcess.comings" style="color: green">{{coming.name}}</div>
        <div *ngFor="let fail of signalRService.renderProcess.fails" style="color: green">{{fail.name}}</div>
      </div>
    </div>
    <label for="">
      Đường dẫn truyện:
      <input type="text" [(ngModel)]="webService.newStoryLink">
      <button (click)="postStory()" class="btn btn-outline-primary">Add story</button>
    </label>
    <!-- Stories-->
    <div *ngIf="webService.stories">
      <ul>
        <li *ngFor="let story of webService.stories" (click)="setSelectedStory(story)">
          <a href="#">{{ story.name}}</a><br>
          <button (click)="toggleAutoRender(story)" class="btn btn-primary">Toggle Auto Render</button>
          <label *ngIf="story.autoRender == false" style="color:red">Off</label>
          <label *ngIf="story.autoRender == true" style="color:green">On</label>
          <button (click)="deleteStory(story.id)" class="btn btn-danger">Delete</button>
        </li>
      </ul>
    </div>
  </div>


  <div class="new-chapters col-4">
    <table *ngIf="webService.chapters">
      <tr>
        <td *ngFor="let chapter of webService.chapters" style="display:block">
          <button (click)="render(chapter.id)">Render</button>
          <label *ngIf="chapter.newlyAdded" style="color:green">
            {{chapter.name}}
          </label>
          <label *ngIf="chapter.newlyAdded == false" style="color:red">
            {{chapter.name}}
          </label>
        </td>
      </tr>
    </table>

  </div>
</div>
